<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>ClawTab Daemon</string>
    <key>CFBundleDisplayName</key>
    <string>ClawTab Daemon</string>
    <key>CFBundleIdentifier</key>
    <string>cc.clawtab.engine</string>
    <key>CFBundleExecutable</key>
    <string>ClawTab Daemon</string>
    <key>CFBundleIconFile</key>
    <string>icon.icns</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleShortVersionString</key>
    <string>0.4.13</string>
    <key>CFBundleVersion</key>
    <string>0.4.13</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.15</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright (c) Clawtab. All rights reserved.</string>
</dict>
</plist>
